.listContainer {
  background-color: #ffffff33;
  height: 90px;
  width: 120px;
  border-radius: 10px;
  margin: 08px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
@media (min-width: 600px) {
  .listContainer {
    background-color: #ffffff33;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    margin: 04px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}
.emoji {
  height: 40px;
  width: 40px;
}
@media (min-width: 600px) {
  .emoji {
    height: 80px;
    width: 80px;
  }
}
.list123 {
  list-style-type: none;
}
