/* Write your code here. */
.NavContainer {
  display: flex;
  justify-content: space-between;
  background-color: #9796f0;
  align-items: center;
  height: 50px;
}
@media (min-width: 600px) {
  .NavContainer {
    display: flex;
    justify-content: space-between;
    background-color: #9796f0;
    align-items: center;
    height: 100px;
  }
}
.navImage {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 30px;
}
@media (min-width: 600px) {
  .navImage {
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
}
.heading {
  font-family: 'roboto';
  font-size: 12px;
  color: white;
  margin-left: 06px;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .heading {
    font-family: 'roboto';
    font-size: 22px;
    color: white;
    margin-left: 12px;
    margin-right: 20px;
  }
}
.NavSecContainer {
  display: flex;
}
.NavContainer1 {
  display: flex;
  align-items: center;
}
.span {
  font-family: 'roboto';
  font-size: 12px;
  color: white;
  font-weight: 600;
}
@media (min-width: 600px) {
  .span {
    font-family: 'roboto';
    font-size: 22px;
    color: white;
    font-weight: 600;
  }
}
